/** LAYOUT **/
body {
    margin: 0;
    padding: 0;
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#content {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/** OPPONENT **/

.opponent {
    display: flex;
    align-items: center;
}

#o-img {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

#o-info {
    width: fit-content;
    padding: 10px;
}

/** MENU **/

.menu {
    max-width: 90%;
    height: fit-content;
    border: 2px solid black;
    width: 620px;
}

#submit-btn {
    display: none;
}

/** PLAYER **/

.player {
    display: flex;
    align-items: stretch;
}

#u-img {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

#u-energy-ctr {
    background-color: white;
}

#u-avoidance-ctr {
    background-color: white;
}

/** RESPONSES **/

#valid-response {
    display: none;
}

#invalid-response {
    display: none;
}

#no-more-avoids {
    display: none;
}

#final-screen {
    display: none;
}